@font-face {
    font-family: 'title' ;
    src: url(fonte/OPTIBodoni-Antiqua.otf);
}

#aba{
    width: 20%;
    position: fixed;
    top: 10%;
    background-color: #B86B77;
    display: none;
}
#aba h2{
    color: white;
}
#aba p{
    color: white;
    border-bottom: 1px solid #EABFB9 ;
    padding: 4%;
    margin-left: 4%;
}
#qtd{
    display: inline-block;
}
.icon{
    margin-left: 2%;
    margin-top: 3%;
    cursor: pointer;
}
#remover{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

#finalizar{
    margin-bottom:3% ;
    margin-top: 2%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: white;
    border: none;
    
    background-color: #B86B77;
    cursor: pointer;
}

#finalizar:hover{
   color: #af0821;
}

h1{
    font-family: 'title';
    text-align: center;
    font-size: 4em;
    color: #a54e5b;
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 2em;
}

li{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #EABFB9;
    text-align: center;
}

a:hover{
    color: #B86B77;
}

h2{
    font-family: 'title';
    text-align: center;
    font-size: 2em;
    color: #a54e5b;
    margin: 1em;
}

#shop{
    position: fixed;
    top: 2%;
    left: 2%;
    cursor: pointer;
    
}

#shop:hover{
    color: #af0821;
}


#gif{
    margin: auto;
    width: 98.5vw;
    height: 70vh;
}


.product img{
    padding-top: 3%;
    height: 30%;
    width: 30%;
}

#sobre{
    text-align: justify;
    font-size: 1.1em;
    width: 70%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: #af0821;
    padding: 1em;
}

.product p{
    display: inline-block;
    width: 60%;
    color: #a54e5b;
}
.model{

    display: inline-block;
    text-align: center;
    margin:1.5%;
    width: 30%;
    transition: 5ms;
    border: none;
    box-shadow: 2px 2px 5px #b86b77a8;
    
}

#contato{
    display: block;
    padding: 2%;
    margin: 4%;
    text-align: center;
    margin: auto;
}
#contato a{
    padding: 2%;
}

#instagram{
    display: none;
    color: #a54e5b;
    font-family: 'title';
    text-align: center;
    margin: 2%;
}

#whatsapp{
    display: none;
    color: #a54e5b;
    font-family: 'title';
    text-align: center;
    margin: 2%;
}

#telefone{
    display: none;
    color: #a54e5b;
    font-family: 'title';
    text-align: center;
    margin: 2%;
} 

#localizacao iframe{
    display: none;
    margin: auto;
    padding: 2%;
 
}
.color{
    background-color: #fdeaf1;
}


.price{
    font-weight: bold;
    cursor: pointer;
    background-color: #B86B77;
    margin: 2em;
    border: none;
    color: white;
    width: 50%;
    height: 50%;
}

#img-gif {
    display: block;
    margin: auto;
    text-align: center;
}
#img-gif img{
    
    width: 18%;
    height: 300px;
}

footer{
    font-family: 'title';
    color: #a54e5b;
    border-top: 1px solid #B86B77 ;
    text-align: center;
    margin: 4%;
    font-weight: bold;
}
footer p{
    padding: 2em;
}
footer a{
    padding: 2em;
    color: #bb3244;
}


/*responsividade tablet*/

@media (max-width: 768px) {

    #aba{
        width: 40%;
    }
    #gif{
        height: auto;
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    ul {
        margin: 1em;
    }

    li {
        padding: 5px;
    }

    .product img {
        height: 20%;
        width: 20%;
    }

    .model {
        width: 90%;
        margin: 4%;
    }

}

/* celular*/
@media (max-width: 480px) {
    #aba{
        width: 45%;
    }

    #gif{
        height: auto;
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    ul {
        margin: 0.5em;
    }

    li {
        padding: 2px;
    }

    .product img {
        height: 15%;
        width: 15%;
    }

    .model {
        width: 90%;
        margin: 4%;
    }

    #sobre {
        font-size: 1em;
        width: 70%;
    }
    #img-gif{
        display: none;
    }

    #contato {
        margin: 2%;
    }

    
    footer p {
        padding: 1em;
    }

    footer a {
        padding: 1em;
    }

}